<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Add_tenant/css/auth.css' %}">
    <script src="{% static 'Add_tenant/js/jquery-3.7.1.min.js' %}" defer></script>
    <script src="{% static 'Add_tenant/js/auth_script.js' %}" defer></script>
</head>
<body>
    <div class="auth_reg_form">
        <form action="" method="post" id="reg_form">
            {% csrf_token %}
            <input type="text" name="username" class="name reg_input" placeholder="Логін" value="{{username}}">
            <input type="password" name="password" class="password reg_input"  placeholder="Пароль" value="{{password}}">

            {% if error %}
                <br>
                <p class="error">
                    {{error}}
                </p>
            {% endif %}
            
            <!-- <input type="submit" value="Авторизуватись"> -->
        </form>
        <button class="auth_submit_button">Авторизуватись</button>
    </div>
</body>
</html>